.container {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  background-color: #f5f5f7;
  left: 0;
  z-index: 100;
  text-align: center;
  margin: 10rem 0;
}

.content {
  margin: 0 auto;
  padding: 0 3rem;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

.list a {
  height: 2em;
}

.github {
  margin-right: 1.2em;
}
.footertext {
  bottom: 0;
  position: absolute;
  margin-bottom: 20px;
}
@media (prefers-color-scheme: dark) {
  .container {
    background-color: rgba(255, 255, 255, 0.7);
  }
  .footertext {
    color: #bea989;
  }
}
.list {
  padding-left: 0px;
}
