.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title a {
  color: #000000;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin-top: 4rem 0;
  margin-bottom: 0.2em;
  line-height: 1.5;
  font-size: 1.5rem;
  width: 100%;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  background-color: rgb(245, 245, 247);
  border-radius: 15px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 2px solid #a7a7a7;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #3945f0;
  border-color: #0a4282;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}

@media (max-width: 449px) {
  .main {
    margin-top: 10vh;
  }
}
.titlep {
  margin: 1rem 0;
  line-height: 1.5;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.2em;
  text-align: center;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;

  font-family: Open Sans;
  font-weight: 500;
  justify-content: center;
  margin: auto;
  background-color: rgb(245, 245, 247);
  border-radius: 15px;
}
.contactcontainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
}
.contactbutton {
  min-height: 3em;
  font-size: 0.5rem;
  width: 20%;
  border-radius: 10px;
  box-shadow: 1px 2px rgb(197, 197, 197);
  background-color: #d3d1d1;
  cursor: pointer;
}

.projectstext {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 2em;
}

.contactdescription {
  margin-right: 1rem;
  margin-left: 1rem;
  font-family: Open Sans;
  font-weight: 600;
  margin-top: 4rem 0;
  margin-bottom: 1rem 0;
  line-height: 1.5;
  font-size: 1.8rem;
}

.aboutmetitle {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 40px;
}

.formstyle {
  font-family: Open Sans;
  font-weight: 400;
  margin-left: 1rem;
}
.formstyle input,
.formstyle textarea {
  width: 80%;
}

.formstyle textarea {
  margin-top: 1rem;
}

@media (prefers-color-scheme: dark) {
  .grid h2,
  .grid p {
    color: #000000;
  }
  .grid {
    background-color: rgb(193, 189, 189);
  }
  .contactdescription {
    color: #000000;
  }
  .contact,
  .contactcontainer,
  .resume,
  .resumecontainer {
    background-color: rgb(193, 189, 189);
  }
  .contactbutton {
    background-color: rgb(147, 146, 146);
  }
}
.hidden {
  display: none;
}

.hide {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
}
.show {
  opacity: 1;
}
@media (prefers-reduced-motion) {
  .hide {
    transition: none;
  }
}

.atl {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  position: relative;
  z-index: 1;
}
.morningtext {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: rgb(10, 10, 10);
  font-size: 10em;
}
.repos {
  display: flex;
  margin: 5rem;
  background-color: rgb(13, 17, 23);
  border-radius: 50px;
}
.reposmobile {
  font-size: 0rem;
}
.reposimg {
  width: 100%;
  height: auto;
  padding-right: 1rem;
  border-radius: 50px;
}

.reposdesktop {
  font-weight: 700;
  color: rgb(206, 206, 206);
  font-size: 5rem;
}

@media (max-width: 1292px) {
  .reposdesktop {
    font-size: 4rem;
  }
}
@media (max-width: 1100px) {
  .reposdesktop {
    font-size: 3.4rem;
  }
}
@media (max-width: 982px) {
  .reposdesktop {
    font-size: 2.9rem;
  }
}

@media (max-width: 981px) {
  .reposdesktop {
    font-size: 0rem;
  }
  .repos {
    margin-top: 0px;
    width: 70%;
    border-radius: 15px;
  }
  .reposmobile {
    font-size: 2rem;
    display: flex;
    text-align: center;
    max-width: 800px;
  }
}

@media (max-width: 550px) {
  .repos {
    width: 100%;
  }
  .reposmobile {
    font-size: 1.7rem;
  }
}

@media (max-width: 443px) {
  .repos {
    width: 100%;
  }
  .reposmobile {
    font-size: 1.5rem;
  }
}
@media (max-width: 398px) {
  .repos {
    width: 100%;
  }
  .reposmobile {
    font-size: 1.3rem;
  }
}
