.wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  backdrop-filter: blur(5px);
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  height: 70px;
  color: #222222;
  position: relative;
}

.navname {
  font-size: 2.7rem;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  color: black;
}

.menu {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.menucontent,
.menucontentOpen {
  display: flex;
  gap: 2em;
  list-style: none;
  padding: 0;
  font-size: 1.4rem;
  font-weight: 500;
}

.menucontentOpen {
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 8px 6px -6px gray;
  z-index: 99;
  padding: 15px 0;
}

.burger {
  position: absolute;
  left: 10px;
  top: 15px;
  display: none;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar {
    padding: 5px 20px;
  }
  .navname {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .burger {
    display: flex;
  }
  .menucontent {
    display: none;
  }
  .menucontentOpen {
    display: flex;
  }
}

@media (prefers-color-scheme: dark) {
  .wrapper {
    background: linear-gradient(
      to bottom,
      rgba(32, 32, 35, 0.8),
      rgba(32, 32, 35, 0.6)
    );
    backdrop-filter: blur(10px);
  }
  .burger{
    fill: white;
  }
  .wrapper a {
    color: white;
  }
  .menucontentOpen {
    background-color: #222;
    color: white;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 5px 20px;
  }
  .navname {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .burger {
    display: flex;
  }
  .menucontent {
    display: none;
  }
  .menucontentOpen {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px 0;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 99;
  }
}
